body {
            background: rgba(100, 145, 250, 0.3);
         }

         #canvas {
            margin-left: 20px;
            margin-right: 0;
            margin-top: 10px;
            margin-bottom: 20px;
            border: thin solid #aaaaaa;
            cursor: crosshair;
            padding: 0;
         }